@import "~bootstrap/dist/css/bootstrap.css";

html {
    height: 100%;
}

body {
    height: 100%;
}

.side-bar {
    position: relative;
    text-align: left;
    background-color: #000000;
    border-radius: 25px;
    padding-bottom: 34%;
}

.side-bar-label {
    margin-left: 65px;
    font-family: "Lucida Console", "Courier New", monospace;
}

#side-bar-main-label {
    margin-top: 75px;
    color: #484848;
    font-size: 15px;
}

.side-bar-button {
    display: block;
    background: #000000;
    color: #BEBEBE;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100%;
    padding: 20px;
    border-style: none;
    text-align: left;
    padding-left: 65px; /*padding of text inside the button*/
    margin-right: 65px;
    font-weight: 800; /*to make the font bold*/
}

.side-bar-button:hover {
    background-color:#8E22E3;
    transition: 0.7s;
}

.side-bar-button-pressed {
    background: #8E22E3;
}

.side-bar-button-unpressed {
    background: #000000;
}

.traverse-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#log-retrieval-cell {
    left: 16%;
    border-radius: 25px;
    margin-right: 16%;
    margin-left: 18px;
    background-color: #000000;
    height: 78px;
    width: 93%;
}

.log-retrieval-input {
    width: 40%;
    padding: 8px 8px;
    margin: 20px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 8px;
    border: none;
    float: left;
    color: #BEBEBE;
    background-color: #3D3D3D;
}

.log-retrieval-button {
    display: block;
    background: #8E22E3;
    color: #BEBEBE;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 8%;
    padding: 14px;
    border-style: none;
    text-align: center;
    font-weight: 900;
    border-radius: 8px;
    margin: 14px 20px;
    float: left;
}

#retrieved-logs-cell {
    display: block;
    height: 100%;
    background-color: #000000;
    margin-top: 18px;
    margin-left: 18px;
    border-radius: 25px;
}

/*
#retrieved-logs-cell h1 {
    color: #8E22E3;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 25px;
    font-weight: 900; /*to make the font bold
}*/

.log-retrieval-traverse-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filters-cell-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filters-cell-container button {
    height: 40px;
    margin: 20px;
    color: #BEBEBE;
    background-color: #8E22E3;
    border-style: none;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 800;
}

.filter-form-group-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.filter-form-group-container label {
    color: #BEBEBE;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 800;
}

.filter-form-group-container select {
    color: #BEBEBE;
    background-color: #3D3D3D;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-style: none;
    margin-right: 50px;
}

.traverse-cell-container {
    display: flex;
    flex-direction: column;
    background-color: #3D3D3D;
    margin: 0px 40px;
    border-radius: 15px;
}

.traverse-cell-search-input {
    width: 40%;
    padding: 8px 8px;
    margin: 20px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    float: left;
    color: #484848;
    background-color: #B7B0B0;
}

.traverse-cell-search-button {
    display: block;
    background: #5362EA;
    color: #151515;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 8%;
    padding: 14px;
    border-style: none;
    text-align: center;
    font-weight: 900;
    border-radius: 8px;
    margin: 14px 20px;
    float: left;
}

.retrieved-logs-entry-cell-data-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F27878;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.retrieved-logs-entry-data-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.retrieved-logs-entry-data-container h1 {
    color: #151515;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 800;
    margin-right: 10px;
}

.retrieved-logs-entry-data-container h2 {
    color: #151515;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.retrieved-logs-list {
    overflow:scroll;
    height: 675px;
    width: 100%;
}

.retrieved-logs-list table {
    width: 100%;
}

.save-logs-options-container {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.save-logs-options-container label {
    color: #151515;
}

.save-logs-options-container button {
    height: 40px;
    margin: 20px;
    color: #BEBEBE;
    background-color: #8E22E3;
    border-style: none;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 800;
}

.save-retrieved-logs-button {
    display: block;
    background: #5362EA;
    color: #151515;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 8%;
    padding: 14px;
    border-style: none;
    text-align: center;
    font-weight: 900;
    border-radius: 8px;
    margin: 14px 40px;
    float: right;
}